@mixin font-dpr($font-size,$style:font-size){
    @if $style == font-size {
        font-size: $font-size;

        [data-dpr="2"] & {
            font-size: $font-size * 2;
        }

        [data-dpr="3"] & {
            font-size: $font-size * 3;
        }
    }
    @if $style == height {
        height: $font-size;

        [data-dpr="2"] & {
            height: $font-size * 2;
        }

        [data-dpr="3"] & {
            height: $font-size * 3;
        }
    }
    @if $style == width {
        width: $font-size;

        [data-dpr="2"] & {
            width: $font-size * 2;
        }

        [data-dpr="3"] & {
            width: $font-size * 3;
        }
    }
    @if $style == line-height {
        line-height: $font-size;

        [data-dpr="2"] & {
            line-height: $font-size * 2;
        }

        [data-dpr="3"] & {
            line-height: $font-size * 3;
        }
    }
    @if $style == border-radius {
        border-radius: $font-size;

        [data-dpr="2"] & {
            border-radius: $font-size * 2;
        }

        [data-dpr="3"] & {
            border-radius: $font-size * 3;
        }
    }
    @if $style == padding-top {
        padding-top: $font-size;

        [data-dpr="2"] & {
            padding-top: $font-size * 2;
        }

        [data-dpr="3"] & {
            padding-top: $font-size * 3;
        }
    }
    @if $style == padding-right {
        padding-right: $font-size;

        [data-dpr="2"] & {
            padding-right: $font-size * 2;
        }

        [data-dpr="3"] & {
            padding-right: $font-size * 3;
        }
    }
    @if $style == padding-bottom {
        padding-bottom: $font-size;

        [data-dpr="2"] & {
            padding-bottom: $font-size * 2;
        }

        [data-dpr="3"] & {
            padding-bottom: $font-size * 3;
        }
    }
    @if $style == padding-left {
        padding-left: $font-size;

        [data-dpr="2"] & {
            padding-left: $font-size * 2;
        }

        [data-dpr="3"] & {
            padding-left: $font-size * 3;
        }
    }
    @if $style == margin-top {
        margin-top: $font-size;

        [data-dpr="2"] & {
            margin-top: $font-size * 2;
        }

        [data-dpr="3"] & {
            margin-top: $font-size * 3;
        }
    }
    @if $style == margin-right {
        margin-right: $font-size;

        [data-dpr="2"] & {
            margin-right: $font-size * 2;
        }

        [data-dpr="3"] & {
            margin-right: $font-size * 3;
        }
    }
    @if $style == margin-bottom {
        margin-bottom: $font-size;

        [data-dpr="2"] & {
            margin-bottom: $font-size * 2;
        }

        [data-dpr="3"] & {
            margin-bottom: $font-size * 3;
        }
    }
    @if $style == margin-left {
        margin-left: $font-size;

        [data-dpr="2"] & {
            margin-left: $font-size * 2;
        }

        [data-dpr="3"] & {
            margin-left: $font-size * 3;
        }
    }
}

@mixin font-dpr-padding ($top:0px,$right:0px,$bottom:0px,$left:0px) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;

    [data-dpr="2"] & {
        padding-top: $top * 2;
        padding-right: $right * 2;
        padding-bottom: $bottom * 2;
        padding-left: $left * 2;
    }

    [data-dpr="3"] & {
        padding-top: $top * 3;
        padding-right: $right * 3;
        padding-bottom: $bottom * 3;
        padding-left: $left * 3;
    }
}